body{
    color:rgb(255, 255, 255);
 background:rgb(224, 99, 120);
    margin: 0px;
}

header{
       border-bottom: solid 2px rgb(255, 255, 255);
       padding: 20px;
       font-size: 32px;
       color: white;
}

section{
    background: rgb(247, 145, 162);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


.chamada-texto{
    margin-right: 5%;
}